.pageBackground {
    background: linear-gradient(to right, rgb(39, 126, 255), #0058f0);
}
::placeholder {
    font-weight:80px;
    color: antiquewhite;
}
input{
    font-size:25px;
}
mat-form-field{
    width:350px; 
    height:40px;
}