<div class="vh-100 vh-100 gradient-custom pageBackground">
  <div class="container-xxl pageBackground" style=" padding-top:40px; padding-bottom: 40px;">
    <div class="row d-flex justify-content-center align-items-center h-100 " style="color:white;font-weight: bold;">
      <div class="col col-xl-10 ">
        <div class="card card bg-dark" style="border-radius: 1rem; ">
          <div class="row g-0" style="padding-left:340px;">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form action="">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219; padding-left:34px;"></i>
                    <span class="h1 fw-bold mb-0 text-uppercase">User Login</span>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Mobile Number</label>
                    <input #mob type="number" placeholder="Enter Your Mobile Number"
                      class="form-control form-control-lg" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label">Email</label>
                    <input #id type="text" placeholder="Enter Your Email" class="form-control form-control-lg" />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Name</label>
                    <input #name type="text" placeholder="Enter Your Full Name" class="form-control form-control-lg" />
                  </div>
                  <!-- <div class="form-outline mb-4">
                          <label class="form-label">Ref-ID</label>
                          <input type="text"  placeholder="Enter Your Reference ID"id="form2Example27" class="form-control form-control-lg"/>
                      </div>
                      <div class="form-outline mb-4" >
                          <label class="form-label" >External-ID</label>
                          <input type="text" placeholder="Enter Your External ID" id="form2Example27" class="form-control form-control-lg"/>
                      </div> -->
                  <div class="pt-1 mb-4">
                    <button class="btn-lg btn-block" (click)="onClick(mob.value,id.value,name.value)">Login</button>
                  </div>
                  <a class="small text-muted" href="#!" style="font-weight:bolder; font-size:20px;">Forgot password?</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>