.form-label {
    color: whitesmoke;
}

.pageBackground {
    background-color:white;
}

.left-partition {
    border-right: 1px solid #BBBABA;
    word-break: break-all;
    & .mat-list-item-content {
        padding-left: 4px !important;
    }
}

.mat-mini-fab.mat-accent.addPlusButton {
    width: 35px;
    height: 35px;
    font-weight: bold;
    background-color: #2196F3;

    & .mat-button-wrapper {
        line-height: 19px;
    }
}
::placeholder {
    color: rgb(0, 0, 0);
    font-weight:80px;
}
input{
    color: rgb(0, 0, 0);
    font-weight:80px;
    width:450px;
}
mat-label{
    color: rgb(0, 0, 0);
    font-size:16px;
}
mat-form-field{
    width:250px;
    height:60px;;
}
select{
    color: rgb(0, 0, 0);
}